section.hero {
    height: 100vh;
    position: relative;
    padding-top: 3.5rem;
    
    & .container {
        height: inherit;
        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: inherit;
            background: url("/assets/images/hero-background.png") center center no-repeat;
            background-position: top;
            top: 0;
            background-size: contain;
            z-index: -1;
    
            animation: appear 300ms ease backwards;
        }
    }

    & header {
        display: flex;
        position: relative;
        max-width: 70rem;
        margin-inline: auto;
        height: 3.625rem;
        align-items: center;
        justify-content: space-between;

        & button {
            width: 5.5625rem;
            height: 2.5rem;
            border-radius: 8px;
            border: 0;
            background: var(--pink-dark);
            font: var(--fs-button);
            color: var(--text-title);

            & span {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 5.5625rem;
                height: 2.5rem;
                position: relative;
                z-index: 1;

                &:hover::before {
                    scale: 1;
                    overflow: hidden;
                }
    
                &::before {
                    content: "";
    
                    width: inherit;
                    height: inherit;
                    border-radius: 8px;
    
                    background: var(--pink-base);
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: -1;
    
                    scale: 0;
                    transition: scale 300ms ease;
                }
            }
            

            
        }

    }

    & .title {
        width: 41rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-inline: auto;
        margin-top: 10.25rem;

        & h1 {
            font: var(--fs-title-lg);
            color: var(--text-title);
            text-align: center;
            animation: appear 2s ease backwards;
        }

        & p {
            width: 35.5rem;
            margin-top: 2rem;
            font: var(--fs-body-lg);
            color: var(--text-body);
            text-align: center;
            animation: appear 3s 500ms ease-in backwards;
        }
    }

    & section.text-animated {
        margin-top: 6rem;
        width: 75rem;
        height: 25rem;
        margin-inline: auto;
        text-align: center;

        & span {
            display: inline;
            font: var(--fs-subtitle);
            text-align: center;
            color: var(--text-body);
            opacity: .5;
        }
        & img {
            width: 5.5rem;
            height: 5.5rem;
        }

        & .img-bottom {
            display: flex;
            justify-content: space-between;
            align-items: center;

            & img[src*="planchette"]{
                transform: rotate(99.47deg);
                scale: 0;
                transition: scale 1s;
            }
            
            & img[src*="crystal-ball"]{
                transform: rotate(-14.48deg);
                scale: 0;
                transition: scale 1s;
            }
        }

        & img[src*="spellbook"] {
            transform: rotate(20.76deg);
            scale: 0;
            transition: scale 1s;
            display: flex;
            margin-inline: auto;
        }

        &:hover {
            & img[src*="spellbook"] {
                scale: 1;
                transition: scale 500ms;
            }

            & img[src*="planchette"]{
                scale: 1;
                transition: scale 500ms .5s;
            }
            & img[src*="crystal-ball"]{
                scale: 1;
                transition: scale 500ms 1s;
            }

            & span:nth-child(2) {
                opacity: 1;
                transition: opacity 200ms;

                & strong {
                    color: var(--blue-light);
                    transition: color 200ms;
                }
            }
            & span:nth-child(3) {
                opacity: 1;
                transition: opacity 200ms 500ms;
                & strong {
                    color: var(--blue-light);
                    transition: color 200ms 500ms;
                }
            }
            & span:nth-child(4) {
                opacity: 1;
                transition: opacity 200ms 1s;
                & strong {
                    color: var(--blue-light);
                    transition: color 200ms 1s;
                }
            }

            & img:hover {
                scale: 1.1;
                rotate: 10deg;
                transition: scale 500ms, rotate 600ms;
            }

            & .img-bottom img:hover {
                scale: 1.1;
                rotate: 10deg;
                transition: scale 500ms, rotate 600ms;
            }
        
        }

        
    }

}

@keyframes appear {
    from {
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}

@keyframes zoomIn {

}