.card-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 134px);
    gap: .5rem;
}

.card {
    background-color: var(--shape-button);
    border: 1px solid var(--input-stroke);
    padding: 3px;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    width: 8.175rem;
    text-align: center;

    & img{
        border-radius: .5rem;
        height: 4rem;
        box-sizing: border-box;
    }

    & p{
        font: var(--body-sm);
        padding-block: .5rem;
    }

    position: relative;
    & input,
    & input:focus,
    & input:hover {
        all: unset;
        position: absolute;
        inset: 0;
    }

    &:hover{
        background-color: var(--shape-hover);
    }
    &:has(:checked){
        outline: 2px solid var(--brand-light);
        background-color: var(--shape-button);
    }

}

.radio-card{
    position: relative;
    & input,
    & input:focus,
    & input:hover {
        all: unset;
        position: absolute;
        inset: 0;
    }

    &:has(:checked) {
        font: var(--body-md);
        font-weight: 600;
        background-color: var(--shape-button);
    }
}