.container {
    width: 20.5rem;
    margin: 0 auto;
}

@media (width >= 70rem){
    .container {
        width: 76rem;
    }

}

.desktop-only {
    display: none;
}

.grid {
    display: grid;
}

.flex {
    display: flex;
}

.items-center{
    align-items: center;
}

.gap-05 {
    gap: .5rem;
}